[submodule "fast_matrix_market"]
	path = fast_matrix_market
	url = https://github.com/alugowski/fast_matrix_market.git
[submodule "build/concurrentqueue"]
	path = build/concurrentqueue
	url = https://github.com/GregorySchwing/concurrentqueue.git
